<div class="pageHeader">
    <div class="headerTitle">{{ pageTitle }}</div>
</div>


<p-tabView styleClass="tabview-custom" styleClass="tabview-custom" [(activeIndex)]="activeTabIndex" (onChange)="changeView($event.index)">
    <p-tabPanel>
        <ng-template pTemplate="Header for User Details">
            {{ 'admin.user_details' | translate }}
        </ng-template>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="Header for Program History">
            {{ 'admin.program_history' | translate }}
        </ng-template>
    </p-tabPanel>
</p-tabView>

<div class="page-container">
    <app-user *ngIf="showAdminUser"></app-user>
    <app-programs-history *ngIf="showProgramHistory"></app-programs-history>
</div>
