<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- <p-progressSpinner ariaLabel="loading" *ngIf="!showAdminUser">
                <ng-template pTemplate="emptymessage">
                    <div>{{ 'global-tags.please-wait' | translate }}</div>
                </ng-template>
            </p-progressSpinner> -->
            <p-table dataKey="id" [columns]="cols" [value]="user" scrollDirection="both" [scrollable]="true" scrollHeight="250px" styleClass="mt-3" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{ col.header }}
                        </th>                
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birthDate }}</td>
                        <td>{{ user.address }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No Details found.</td>
                    </tr>
                </ng-template>
            </p-table>           
        </div>
    </div>
</div>

