<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- <nb-spinner status="info" size="large" message="{{ 'global-tags.please-wait' | translate }}" *ngIf="!showAdminUser"></nb-spinner> -->
            <p-progressSpinner ariaLabel="loading" *ngIf="!showAdminUser">
                <ng-template pTemplate="content">
                    <div>{{ 'global-tags.please-wait' | translate }}</div>
                </ng-template>
            </p-progressSpinner>
            <p-table dataKey="id" [columns]="cols" [value]="userDetail" scrollDirection="both" [scrollable]="true" scrollHeight="250px" styleClass="mt-3" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols">
                            {{ col.header }}
                        </th>                
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-userDetail>
                    <tr>
                        <td>{{ userDetail.firstName }}</td>
                        <td>{{ userDetail.lastName }}</td>
                        <td>{{ userDetail.email }}</td>
                        <td>{{ userDetail.birthDate }}</td>
                        <td>{{ userDetail.address }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No Details found.</td>
                    </tr>
                </ng-template>
            </p-table>           
        </div>
    </div>
</div>

