<div class="formgrip grid">
    <p-card
        *ngFor="let p of programs"
        class="field col"
        [header]="p.title"
        [subheader]="p.date | date : 'dd/MM/yyyy'"
    >
        <ng-template pTemplate="header"> </ng-template>
        <p class="flex align-items-center justify-content-center">
            {{ p.area }}
        </p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button
                class="flex justify-content-center bg-primary font-bold border-round"
                label="Enroll"
                (click)="changePage()"
            ></p-button>
        </ng-template>
    </p-card>
    <div class="add-program">
        <button
            pButton
            pRipple
            type="button"
            icon=" pi pi-plus"
            class="p-button-rounded p-button-lg"
            (click)="createNewProgram()"
        ></button>
    </div>
</div>
