<div class="formgrip grid">
    <p-card class="field col" header="The Daily Pump" subheader="2/22/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Quads/Adductor</p>
        <ng-template pTemplate="footer" class="flex flex-collumn" >
            <p-button class="flex  justify-content-center bg-primary font-bold border-round" label="Enroll"   [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>
    
    <p-card class="field col" header="The Daily Pump" subheader="2/23/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Chest/Biceps</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll"   [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="The Daily Pump" subheader="2/24/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Calves/Neck/Forearms</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="The Daily Pump" subheader="2/25/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Back/Rear Delts</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="The Daily Pump" subheader="2/26/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Hamstrings/Glutes/Abductor</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="The Daily Pump" subheader="2/27/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Shoulders/Triceps/Abs</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="The Daily Pump" subheader="2/28/2024" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Quads/Adductor</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" [style]="{width: '100%'}"></p-button>
        </ng-template>
    </p-card>
</div>
