<div class="formgrip grid">
    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Monday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
    
    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Tuesday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Wednesday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Thursday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Friday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Saturday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>

    <p-card class="field col" header="Advanced Card" subheader="Card Subheader" [style]="{width: '420px'}" >
        <ng-template pTemplate="header">
        </ng-template>
        <p class="flex align-items-center justify-content-center">Program For Sunday</p>
        <ng-template pTemplate="footer" class="flex flex-collumn">
            <p-button class="flex align-items-center justify-content-center bg-primary font-bold border-round" label="Enroll" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
</div>
