/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

@font-face {
    font-family: "Dosis";
    src: url("assets/fonts/Dosis/Dosis-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair_Display";
    src: url("assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Dosis";
}
